<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro" />
    <link rel="stylesheet" href="../static/css/riotOffices.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <article class="logo">
                <a href="/hd-22016-grupo3-af3">
                    <svg width="90" height="30" class="logo-svg" viewBox="0 0 587.93 165"></svg>
                </a>
            </article>
            <ul class="nav-links">
                <li><a href="/hd-22016-grupo3-af3/templates/aboutUs.html">QUIÉNES SOMOS</a></li>
                <li><a href="/hd-22016-grupo3-af3/templates/riotOffices.html">TRABAJA CON NOSOTROS</a></li>
                <li><a href="/hd-22016-grupo3-af3/templates/news.html">NOTICIAS</a></li>
                <li><a href="/hd-22016-grupo3-af3/templates/diversity.html">DIVERSIDAD</a></li>
                <li><a href="/hd-22016-grupo3-af3/templates/socialImpact.html">IMPACTO</a></li>
            </ul>
            <section class="nav-right">
                <select class="language-select">
                    <option value="es">ES</option>
                    <option value="en">EN</option>
                </select>
                <article class="search-container">
                    <input type="text" placeholder="BUSCAR" />
                    <i class="fas fa-search"></i>
                </article>
                <button class="login-btn">INICIAR SESIÓN</button>
            </section>
            <section class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </section>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Nuestras oficinas</h1>
            <p>
                Descubre dónde trabajamos para crear experiencias de juego increíbles
            </p>
        </section>

        <section class="map-section">
            <article id="map">
                <h1>Riot Games alredor del mundo</h1>
                <p>
                    La sede de Riot Games se encuentra en la soleada ciudad de Los
                    Ángeles, pero tenemos muchas más oficinas en todo el mundo. Buscamos
                    jugadores apasionados que también sean líderes en su campo para
                    ayudarnos a ofrecer valor a los jugadores, sin importar dónde
                    jueguen.
                </p>
                <a href=""></a>
            </article>
        </section>

        <section class="offices">
            <section class="office-grid">
                <article class="office-card">
                    <img src="/static/img/offices/spain-office.png" alt="Barcelona, España" />
                    <h3>Barcelona, España</h3>
                    <a href="#" class="office-link">Ver oficina</a>
                </article>
                <article class="office-card">
                    <img src="/static/img/offices/berlin-office.png" alt="Berlin, Germany office" />
                    <h3>Berlin, Germany</h3>
                    <a href="#" class="office-link">Ver oficina</a>
                </article>
                <article class="office-card">
                    <img src="/static/img/offices/dubai-office.png" alt="Dubai office" />
                    <h3>Dubai, UAE</h3>
                    <a href="#" class="office-link">Ver oficina</a>
                </article>
                <article class="office-card">
                    <img src="/static/img/offices/dublin-office.png" alt="Dublin, Irland office" />
                    <h3>Dublin, Irlanda</h3>
                    <a href="#" class="office-link">Ver oficina</a>
                </article>
                <article class="office-card">
                    <img src="/static/img/offices/estambul-office.png" alt="Estambul, Turquia office" />
                    <h3>Estambul, Turquia</h3>
                    <a href="#" class="office-link">Ver oficina</a>
                </article>
                <article class="office-card">
                    <img src="/static/img/offices/jakarta-office.png" alt="Jarkarta, Indonesia office" />
                    <h3>Jarkarta, Indonesia</h3>
                    <a href="#" class="office-link">Ver oficina</a>
                </article>
                <article class="office-card">
                    <img src="/static/img/offices/LA-office.png" alt="Los Angeles, USA office" />
                    <h3>Los Angeles, USA</h3>
                    <a href="#" class="office-link">Ver oficina</a>
                </article>
                <article class="office-card">
                    <img src="/static/img/offices/merced-office.png" alt="Merced Island, USA office" />
                    <h3>Merced Island, USA</h3>
                    <a href="#" class="office-link">Ver oficina</a>
                </article>
                <article class="office-card">
                    <img src="/static/img/offices/manila-office.png" alt="Merced Island office" />
                    <h3>Manila, Filipinas</h3>
                    <a href="#" class="office-link">Ver oficina</a>
                </article>
            </section>
        </section>
    </main>

    <footer>
        <section class="footer-content">
            <article class="logo">
                <a href="/index.html">
                    <svg width="90" height="30" class="logo-svg" viewBox="0 0 587.93 165"></svg>
                </a>
            </article>
            <article class="footer-links">
                <ul>
                    <li>
                        <a href="./aboutUs.html">Acerca de Riot Games</a>
                    </li>
                    <li>
                        <a href="./lifeInRitot.html">Vida en Riot Games</a>
                    </li>
                    <li>
                        <a href="./socialImpact.html">Impacto social</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="./riotOffices.html">Empleos</a>
                    </li>
                    <li>
                        <a href="./riotOffices.html">Oficinas</a>
                    </li>
                    <li><a href="#">Soporte</a></li>
                    <li><a href="#">Esports</a></li>
                </ul>
            </article>
            <article class="social-media">
                <a href="https://www.facebook.com/RiotGames/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/riotgames"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/riotgames/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/riotgames"><i class="fab fa-youtube"></i></a>
            </article>
        </section>
        <section class="footer-bottom">
            <p>&copy; 2024 Riot Games, Inc. Todos los derechos reservados.</p>
            <ul>
                <li>
                    <a href="https://www.riotgames.com/es/privacy-notice-ES">Política de privacidad</a>
                </li>
                <li>
                    <a href="https://www.riotgames.com/es/terms-of-service-ES">Términos de servicio</a>
                </li>
                <li>
                    <a href="https://www.riotgames.com/es/asistencia-al-jugador">Asitencia al juador</a>
                </li>
            </ul>
        </section>
    </footer>
    <script src="../main.js"></script>
</body>

</html>